Repository adaptivekind/save-markdown: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .ts --fix

.lintstagedrc.json:

{
  "*.{ts,json,md}": "prettier --write",
  "*.ts": "eslint --ext .ts --fix"
}

ci: check that e2e test fail leads to CI fail
  .github/workflows/ci.yml
  .husky/pre-commit
  playwright.config.ts
  tests/e2e/extension.spec.ts
Due: prettier --write, eslint --ext .ts --fix

test: correct forced failure
  .husky/pre-commit
  tests/e2e/extension.spec.ts
Due: prettier --write, eslint --ext .ts --fix

test: increase timeout e2e test to 30 seconds
  tests/e2e/extension.spec.ts
Due: prettier --write, eslint --ext .ts --fix

test: Add an e2e test with playwright (#4)
  .claude/settings.local.json
  .eslintrc.json
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  options.html
  package-lock.json
  package.json
  playwright.config.ts
  popup.html
  src/debugPage.ts
  src/downloadUtils.ts
  src/main.ts
  src/notify.ts
  src/options.ts
  src/popup.ts
  src/saveMarkdown.ts
  src/statusWindow.ts
  src/types.ts
  tests/e2e/extension.spec.ts
  tests/e2e/fixtures/test-page.html
Due: prettier --write, eslint --ext .ts --fix

test: fix end to end test to use filename from status
  options.html
  src/debugPage.ts
  src/downloadUtils.ts
  src/main.ts
  src/options.ts
  src/saveMarkdown.ts
  src/statusWindow.ts
  tests/e2e/extension.spec.ts
Due: prettier --write, eslint --ext .ts --fix

test: fix end to end test to use filename from status
  src/downloadUtils.ts
  src/main.ts
  src/saveMarkdown.ts
  tests/e2e/extension.spec.ts
Due: prettier --write, eslint --ext .ts --fix

fix: swap status and debug panels
  options.html
  src/debugPage.ts
  src/options.ts
  src/statusWindow.ts
Due: prettier --write, eslint --ext .ts --fix

test: start with basic cucumber set up
  .claude/settings.local.json
  .gitignore
  cucumber.cjs
  features/hello.feature
  features/step_definitions/hello.steps.ts
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, eslint --ext .ts --fix

test: add headed browser test
  features/browser.feature
  features/step_definitions/browser.steps.ts
  package.json
Due: prettier --write, eslint --ext .ts --fix

test: cucumber test runs OK in headed mode
  cucumber.cjs
  features/extension.feature
  features/step_definitions/extension.steps.ts
  features/support/world.ts
Due: prettier --write, eslint --ext .ts --fix

test: cucumber test passes OK in headless mode
  .husky/pre-commit
  features/extension.feature
  features/step_definitions/extension.steps.ts
Due: prettier --write, eslint --ext .ts --fix

ci: run cucumber tests in the CI
  .github/workflows/ci.yml
Due: none

test: remove experimental cucmber features
  features/browser.feature
  features/hello.feature
  features/step_definitions/browser.steps.ts
  features/step_definitions/hello.steps.ts
Due: prettier --write, eslint --ext .ts --fix

lint: fix
  cucumber.cjs
  features/support/world.ts
  options.html
Due: prettier --write, eslint --ext .ts --fix

ci: side by e2e with cucumber (#6)
  .claude/settings.local.json
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  cucumber.cjs
  features/extension.feature
  features/step_definitions/extension.steps.ts
  features/support/world.ts
  options.html
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, eslint --ext .ts --fix

ci: add report for cucumber test
  .claude/settings.local.json
  cucumber.cjs
  features/step_definitions/extension.steps.ts
  features/support/hooks.ts
  features/support/world.ts
  package.json
  scripts/expand-screenshots.cjs
Due: prettier --write, eslint --ext .ts --fix

ci: remove expand screenshots script
  package.json
  scripts/expand-screenshots.cjs
Due: prettier --write

lint: fix
  .github/workflows/ci.yml
  cucumber.cjs
Due: none

ci: publish reports to GitHub pages
  .github/workflows/ci.yml
  .gitignore
  package.json
  scripts/test-pages-locally.sh
Due: prettier --write

ci: publish reports to GitHub pages
  .github/workflows/ci.yml
  .husky/pre-commit
Due: none

ci: add cucumber report (#7)
  .claude/settings.local.json
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  cucumber.cjs
  features/step_definitions/extension.steps.ts
  features/support/hooks.ts
  features/support/world.ts
  package.json
  scripts/test-pages-locally.sh
Due: prettier --write, eslint --ext .ts --fix

ci: remove publish to github for now
  .github/workflows/ci.yml
Due: none

ci: deploy github pages
  .github/templates/reports-index.html
  .github/workflows/ci.yml
  .github/workflows/pages.yml
  scripts/test-pages-locally.sh
Due: none

ci: remove github pages support
  .github/templates/reports-index.html
  .github/workflows/ci.yml
  .github/workflows/pages.yml
  package.json
  scripts/test-pages-locally.sh
Due: prettier --write

ci: remove github pages (#8)
  .github/workflows/ci.yml
  package.json
  scripts/test-pages-locally.sh
Due: prettier --write

test: only report on report script
  cucumber.cjs
  features/extension.feature
  features/step_definitions/extension.steps.ts
  features/support/hooks.ts
  package.json
Due: prettier --write, eslint --ext .ts --fix

test: switch the e2e tests to be the cucumber ones
  .github/workflows/ci.yml
  .husky/pre-commit
  package.json
Due: prettier --write

test: move test page into features fixtures
  features/fixtures/test-page.html
  features/step_definitions/extension.steps.ts
  tests/e2e/extension.spec.ts
Due: prettier --write, eslint --ext .ts --fix

test: switch the e2e tests to be the cucumber scripts (#9)
  .github/workflows/ci.yml
  .husky/pre-commit
  cucumber.cjs
  features/extension.feature
  features/fixtures/test-page.html
  features/step_definitions/extension.steps.ts
  features/support/hooks.ts
  package.json
  tests/e2e/extension.spec.ts
Due: prettier --write, eslint --ext .ts --fix

test: add scenario for adding suggested save rule
  features/extension.feature
  features/step_definitions/extension.steps.ts
Due: prettier --write, eslint --ext .ts --fix

test: improve enable auto save step
  features/step_definitions/extension.steps.ts
Due: prettier --write, eslint --ext .ts --fix

test: remove redundant step definitions
  features/step_definitions/extension.steps.ts
Due: prettier --write, eslint --ext .ts --fix

test: merge steps into a given enabled status window step
  features/extension.feature
  features/step_definitions/extension.steps.ts
Due: prettier --write, eslint --ext .ts --fix

fix: change default download folder to ~/Downloads/markdown
  src/options.ts
  src/saveMarkdown.ts
Due: prettier --write, eslint --ext .ts --fix

test: create failing test for extension toggle
  features/extension-toggle.feature
  features/save-markdown.feature
  features/step_definitions/extension.steps.ts
Due: prettier --write, eslint --ext .ts --fix

fix: extension toggle in place
  features/extension-toggle.feature
  features/step_definitions/extension.steps.ts
  popup.html
  src/debugPage.ts
  src/main.ts
  src/popup.ts
Due: prettier --write, eslint --ext .ts --fix

test: simplifying
  features/step_definitions/extension.steps.ts
  popup.html
  src/main.ts
  src/popup.ts
Due: prettier --write, eslint --ext .ts --fix

test: dedupe a step
  features/extension-toggle.feature
  features/step_definitions/extension.steps.ts
Due: prettier --write, eslint --ext .ts --fix

test: click UI not fire JS
  features/step_definitions/extension.steps.ts
Due: prettier --write, eslint --ext .ts --fix
