Repository adaptivekind/save-markdown: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --ext .ts --fix

.lintstagedrc.json:

{
  "*.{ts,json,md}": "prettier --write",
  "*.ts": "eslint --ext .ts --fix"
}

fix: honour border and status panel through extension toggle
  features/extension-toggle.feature
  features/step_definitions/extension.steps.ts
  src/main.ts
Due: prettier --write, eslint --ext .ts --fix

fix: toggle extension on / off (#10)
  features/extension-toggle.feature
  features/save-markdown.feature
  features/step_definitions/extension.steps.ts
  popup.html
  src/debugPage.ts
  src/main.ts
  src/popup.ts
Due: prettier --write, eslint --ext .ts --fix

ci: do not run husky in the CI
  .github/workflows/ci.yml
Due: none

refactor: simplify method calling
  src/uiComponents.ts
Due: prettier --write, eslint --ext .ts --fix

ci: disable deprecation notice in e2e test
  .claude/settings.local.json
  package.json
Due: prettier --write

lint: upgrades
  .eslintrc.json
  package-lock.json
  package.json
  src/main.ts
  src/options.ts
  src/popup.ts
  src/ruleManager.ts
  src/saveMarkdown.ts
Due: prettier --write, eslint --ext .ts --fix

fix: improve defaults
  src/options.ts
  src/suggestedRules.ts
Due: prettier --write, eslint --ext .ts --fix

docs: improving README
  README.md
  docs/suggest-save.png
  src/suggestedRules.ts
Due: prettier --write, eslint --ext .ts --fix

docs : Improve readme
  README.md
  docs/suggested-save.png
Due: prettier --write

docs : add details on debug pane
  README.md
  docs/auto-save-rules.png
  docs/debug-pane.png
Due: prettier --write

lint: only run test if src changes
  .husky/pre-commit
Due: none

docs : improve README (#11)
  .husky/pre-commit
  README.md
  docs/auto-save-rules.png
  docs/debug-pane.png
  docs/suggested-save.png
  src/options.ts
  src/suggestedRules.ts
Due: prettier --write, eslint --ext .ts --fix
